# /etc/systemd/system/acs730-web.service
[Unit]
Description=ACS730 web server
After=network.target
[Service]
Type=forking
ExecStart=/usr/bin/systemctl start httpd
ExecStop=/usr/bin/systemctl stop httpd
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
